<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoops Info</title>
</head>
<body>
    <h1 style="text-align: center;">Basketball Info</h1>
    <img src="https://a.espncdn.com/photo/2020/0207/r662876_2_1296x729_16-9.jpg" alt="Lebron dunking" style="width:70%" >
    <a href="https://www.youtube.com/watch?v=b117a8_jALE"><button>Some Highlights!</button></a>
    <form action = "/setcookie" method = "POST">
        <p><h3>Who's the basketball fan?</h3></p>
        <p><input type = "text" name = "nm"/></p>
        <p><input type = "submit" value = 'Login'/></p>
     </form>

</body>
</html>